.margen {
  padding: 0 auto; }

.margin {
  margin: 0;
  padding: 0; }

.background {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px; }

.card {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  border: none; }

.fondo {
  background-image: url(../img/fondo5.png); }

.nav-item {
  justify-content: end;
  font-size: 30px;
  font-family: "Bebas Neue", cursive;
  color: white;
  padding-left: 20px;
  padding-right: 20px; }

.navbar {
  background-color: #0B4949;
  padding-left: 40px;
  padding-right: 40px; }

.form-inline {
  font-family: "Bebas Neue", cursive; }

.nav-link {
  color: white; }

.btn {
  color: white;
  background-color: #0B4949;
  opacity: 80%;
  font-family: "Bebas Neue", cursive;
  justify-content: center;
  text-align: center;
  align-items: center; }

.btnFacebook {
  background-color: #3D5A98;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  color: white;
  margin-top: 15px;
  opacity: 80%; }

.btnGmail {
  background-color: #13264E;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  color: white;
  margin-top: 15px;
  opacity: 80%; }

.btnForgot {
  background-color: white;
  box-shadow: 2px 2px 2px #999;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  color: black;
  margin-top: 15px;
  opacity: 80%; }

.navbar-toggler {
  color: white;
  background-color: white; }

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: right;
  justify-self: right;
  justify-items: right;
  align-items: right; }

.formulario {
  background-image: url(../img/Asset16.png);
  background-repeat: no-repeat;
  padding-left: 20px;
  padding-top: 150px;
  padding-bottom: 200px;
  padding-right: 20px; }

.titulo {
  text-align: center; }

h1 {
  font-family: "Bebas Neue", cursive;
  text-align: center; }

h2 {
  font-family: "Bebas Neue", cursive;
  text-align: center;
  padding-top: 40px; }

p {
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
  text-align: center; }

.iniciarSesion {
  background-image: url(../img/Asset20.png);
  background-repeat: no-repeat;
  background-position: right;
  padding-left: 20px;
  padding-top: 100px;
  padding-bottom: 150px;
  padding-right: 20px; }

.backgroundList {
  background-image: url(../img/Asset20.png);
  background-repeat: no-repeat; }

.listItem {
  padding-top: 150px;
  padding-bottom: 150px; }

.reciclado {
  color: #0B4949;
  opacity: 100%; }

.reciclar {
  background-color: white;
  opacity: 50%;
  padding: 40px; }

.bajar {
  padding-top: 50px; }

.cardList {
  justify-content: center;
  margin-left: auto;
  margin-right: auto; }

h3 {
  font-family: "Bebas Neue", cursive;
  text-align: center;
  padding: 20px; }

.card-group {
  padding: 40px;
  background-image: url(../img/Asset45.png); }

.segunda {
  margin-top: 20px; }

.card-body {
  background-color: white;
  opacity: 90%; }
